@import 'header';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  height: 500px;
  background-color: salmon;

  &__content {
    margin: 0 10px 0 10px;
  }
}

.footer {
  background-color: lightblue;

  &__content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
