@import 'header';
@import 'main';
@import 'footer';
@import 'panels/simple';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}
